$primary-color: #276591;
$primary-color-darken: #2D4C61;
$primary-color-lighten: #08C0E8;
$primary-color-light: #71C87E;

$secondary-color: #00BFD9;

$black: #4D4D4D;

$breakpoint1: 1300;
$breakpoint2: 900;

$yellow: #FFD057;


$blue: #08C0E8;
$blue-dark: #487594;

$gray: #F2F2F2;


$tablet: 1250;

$breakpoint1: 1010;

$mob: 980;
