.btn {
	position: relative;
	display: inline-block;
	border-radius: 0;
	border: 0;
	transition: 0.3s all;
	background-color: transparent;
	cursor: pointer;
}

.btn-primary {
	min-height: 43px;
	font-size: 14px;
	color: #fff;
	background: #0899E8;
	border-radius: 100px;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0 23px;

	&.btn--lg {
		min-height: 50px;
		font-size: 18px;
		min-width: 264px;
	}

	&:hover {
		background-color: #0C82C2;
	}

	&:active {
		transform: translateY(1px);
	}
}

.btn-transparent {
	border: 2px solid $blue;
	border-radius: 100px;
	min-height: 40px;
	font-size: 16px;
	color: $blue;
	font-weight: 700;
	padding: 0 20px;
	line-height: 1;

	&:hover {
		color: #fff;
		background-color: $blue;
	}

	&:active {
		transform: translateY(1px);
	}

	&--white {
		border-radius: 0;
		color: #fff;
		border-color: #fff;
		min-height: 50px;
		padding: 0 42px;
		font-size: 18px;
		font-weight: normal;

		&:hover {
			border-color: $blue;
		}
	}
}

.btn-uppercase {
	text-transform: uppercase;
}

.btn-login {
	background-color: $gray;
	height: 100%;
	font-size: 14px;
	line-height: 17px;
	color: $blue-dark;
	padding-left: 9px;
	padding-right: 14px;
	display: flex;
	font-weight: 600;
	align-items: center;

	&:hover {
		background-color: #E9F5F7;
	}

	@include r($tablet) {

		img {
			display: none;
		}
	}

	img {
		margin-right: 15px;
	}

	.btn__value {
		display: inline-block;
		font-weight: 600;
		line-height: 19px;
		font-size: 16px;
		color: $primary-color-lighten;
		text-align: center;
		margin-right: 9px;
		padding-right: 7px;
		position: relative;
		min-width: 39px;
		border-right:1px solid #D3D3D3;

		&:before {
			content: '';
			display: block;
			margin: 0 auto 6px;
			width: 16px;
			height: 16px;
			background-image: url('~/static/img/star.svg');
			@include cover();
		}
	}

}

.btn-catalog {
	font-weight: 700;
	font-size: 18px;
	color: #276591;
	padding-left: 22px;
	margin-top: 25px;
	display: flex;
	align-items: center;

	&:hover {
		color: $secondary-color;

		svg {
			fill: $secondary-color;
		}
	}

	svg {
		width: 33px;
		height: 30px;
		margin-right: 10px;
		fill: #276591;
		transition: .3s all;
	}
}

.btn-more {
	font-weight: 600;
	font-size: 18px;
	color: #0899E8;
	display: flex;
	align-items: center;

	&:hover {
		color: $primary-color;

		svg {
			fill: $primary-color
		}
	}

	&:active {
		transform: translateY(1px);
	}

	svg {
		transition: .3s all;
		fill: #0899E8;
		margin-right: 15px;
	}
}

.btn-favorite {
	color: $primary-color;
	font-size: 16px;
	white-space: nowrap;

	&:hover {
		color: $primary-color-lighten;

		svg {
			stroke: $primary-color-lighten;
		}
	}

	&.is-active {
		color: $primary-color;

		svg {
			stroke: $yellow;
			fill: $yellow;
		}
	}

	span {
		min-width: 100px;
		display: inline-block;
	}

	svg, span {
		vertical-align: middle;
	}

	svg {
		fill: none;
		stroke: $primary-color;
		stroke-width: 1.5px;
		transition: .3s all;
		margin-right: 3px;
	}
}

.btn-burger {
	width: 72px;
	background-color: #fff;

	@include rmin($tablet) {
		display: none;
	}

	@include r($mob) {
		width: 55px;
	}

	span {
		display: block;
		width: 30px;
		height: 2px;
		background-color: $primary-color;
		margin: 0 auto;
		transition: .3s all;

		@include r($mob) {
			width: 26px;
		}

		&:not(:first-child) {
			margin-top: 8px;
		}
	}

	&.is-active {

		span {

			&:first-child {
				transform: rotate(45deg) translate(1px, 0px);
			}

			&:not(:first-child) {
				transform: rotate(-45deg) translate(1px, -1px);
				margin-top: 0;
			}
		}
	}
}

.btn-map {
	position: fixed;
	bottom: 50px;
	right: 30px;
	z-index: 20;

	@include rmin($tablet) {
		display: none;
	}

	@include r($mob) {
		right: 15px;
		bottom: 20px;
		z-index: 1001;

		img {
			max-width: 60px;
		}
	}
}

.btn-phone-call {

	@include rmin($mob) {
		display: none;
	}

	svg {
		fill: $primary-color;
	}
}

.btn-moreSearch {
	font-weight: 700;
	font-size: 16px;
	color: #276591;

	svg, span {
		vertical-align: middle;
	}

	img {
		margin-right: 12px;
	}
}

.btn-submit {
	height: 50px;
	text-align: center;
	background: #0899E8;
	border-radius: 10px;
	width: 100%;
	font-size: 18px;
	color: #FFFFFF;
}

.btn-success {
	height: 50px;
	text-align: center;
	background: #00BFD9;
	border-radius: 10px;
	font-size: 18px;
	padding: 10px 50px;
	color: #FFFFFF;
}

.btn-text {
	font-weight: 500;
	font-size: 18px;
	text-align: center;
	color: #276591;
}

.btn-close {
	position: absolute;
	top: 40px;
	right: 30px;

	svg {
		fill: $primary-color;
		width: 31px;
		height: 31px;
	}
}
